{% extends 'layouts/longboxed_base.html' %}
{% from 'macros/forms.html' import render_field_with_errors %}

{% block content -%}
<div class="background-image-container">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form--has-background" action="{{ url_for('security.login') }}"  method="POST" name="login_user_form">
        <h1 class="title">SIGN IN</h1>
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email, class="form-control text-box", placeholder='EMAIL') }}
        {{ render_field_with_errors(login_user_form.password, class="form-control text-box", placeholder='PASSWORD') }}
        {{ render_field_with_errors(login_user_form.remember) }}
        {{ login_user_form.next }}
        {{ login_user_form.submit(class="btn btn-outline-inverse btn-lg btn-block", value="LOGIN") }}
      </form>
    </div>
  </div>
</div>
{%- endblock content %}

{% block footer -%}
{%- endblock footer%}