{% extends 'layouts/base.html' %}
{% from 'macros/forms.html' import render_field_with_errors %}
{% block title %}Resend Confirmation | Longboxed{% endblock title %}

{% block content -%}
<div class="container">
    <form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
        <h1>Resend Confirmation Instructions</h1>
        {{ send_confirmation_form.hidden_tag() }}
        {{ render_field_with_errors(send_confirmation_form.email, class='form-control', placeholder='Email') }}
        {{ send_confirmation_form.submit(class='btn btn-block') }}
    </form>
</div>
{%- endblock content %}