<div class="favorite_matches">
{% if matches %}
  {% include 'favorite_matches.html' %}
{% endif %}
</div>
{% for group in comicList|groupby('publisher') %}
  {% set outer_loop = loop %} 
  <section id="g{{ loop.index }}">
    <h2 style="padding-top: 60px; margin-top: -60px;">{{ group.grouper }}</h2>
    <table class="table">
      <thead>
        <tr>
          <td class="copt">Options</td>
          <td class="ctitle">Title</td>
          <td class="cdate">Released</td>
          <td class="cprice">Price</td>
        </tr>
      </thead>
      <tbody>
        {% for comic in group.list|sort(attribute='name') %}
          <tr>
            <td class="copt">
              <div id="pop{{ outer_loop.index }}{{ loop.index }}_content" class="popSourceBlock">
                <div class="popTitle">
                  {{ comic.complete_title }}
                </div>
                <div class="popContent">
                  <div class="cpImage">
                    {% if (comic.thumbnail is defined) and (comic.thumbnail) %}
                    <a href="{{ comic.thumbnail }}">
                      <img class="popImage" src="{{ comic.thumbnail }}" class="img-rounded">
                    </a>
                    {% else %}
                    <img class="popImage" src="{{ url_for('static', filename='noimage.png') }}">
                    {% endif %}
                  </div>
                  <div class="cpInfo">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Price</td>
                          <td>${{ comic.retailPrice }}</td>
                        </tr>
                        <tr>
                          <td>DiamondID</td>
                          <td>
                            <a href="{{ comic.alink }}">
                            {{ comic.diamondid }}
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Date</td>
                          <td>{{ comic.onSaleDate.strftime('%B %-d, %Y') }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a id="pop{{ outer_loop.index }}{{ loop.index }}" class="btn pop"> <i class="icon-eye-open"></i></a>
            </td>
            <td class="ctitle">
              <a href="{{ url_for('dashboard.issue', diamondid=comic.diamondid) }}">
                {{ comic.complete_title }}
              </a>
            </td>
            <td class="cdate">{{ comic.onSaleDate.strftime('%-m/%-d/%y') }}</td>
            <td class="cprice">${{ comic.retailPrice }}</td>
            {% if g.user %}
            <td class="ccal"><div class="add2cal" data-id="{{ comic.id }}"><i class="icon-calendar"></i></div></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endfor %}