<div class="favorite_matches">
{% if matches %}
  {% include 'favorite_matches.html' %}
{% endif %}
</div>
{% for group in comicList|groupby('publisher.name') %}
  {% set outer_loop = loop %} 
  <section id="g{{ loop.index }}">
    <h2 style="padding-top: 60px; margin-top: -60px;">{{ group.grouper }}</h2>
    <table class="table">
      <thead>
        <tr>
          <td class="copt">Options</td>
          <td class="ctitle">Title</td>
          <td class="cdate">Released</td>
          <td class="cprice">Price</td>
        </tr>
      </thead>
      <tbody>
        {% for issue in group.list|sort(attribute='title.name') %}
          {% if issue.is_parent %}
          <tr>
            <td class="copt">
              <div id="pop{{ outer_loop.index }}{{ loop.index }}_content" class="popSourceBlock">
                <div class="popTitle">
                  {{ issue.complete_title }}
                </div>
                <div class="popContent">
                  <div class="cpImage">
                    {% if (issue.thumbnail is defined) and (issue.thumbnail) %}
                    <a href="{{ issue.thumbnail }}">
                      <img class="popImage" src="{{ issue.thumbnail }}" class="img-rounded">
                    </a>
                    {% else %}
                    <img class="popImage" src="{{ url_for('static', filename='noimage.png') }}">
                    {% endif %}
                  </div>
                  <div class="cpInfo">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Price</td>
                          <td>${{ issue.retailPrice }}</td>
                        </tr>
                        <tr>
                          <td>DiamondID</td>
                          <td>
                            <a href="{{ issue.a_link }}">
                            {{ issue.diamondid }}
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Date</td>
                          <td>{{ issue.on_sale_date.strftime('%B %-d, %Y') }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a id="pop{{ outer_loop.index }}{{ loop.index }}" class="btn pop"> <i class="icon-eye-open"></i></a>
            </td>
            <td class="ctitle">
              <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
                {{ issue.complete_title }}
              </a>
            </td>
            <td class="cdate">{{ issue.on_sale_date.strftime('%-m/%-d/%y') }}</td>
            <td class="cprice">${{ issue.retail_price }}</td>
            {% if issue.has_alternates %}
            <td><i class="icon-ok"></i></td>
            {% endif %}
            {% if g.user %}
            <td class="ccal"><div class="add2cal" data-id="{{ issue.diamond_id }}"><i class="icon-calendar"></i></div></td>
            {% endif %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endfor %}