{% extends "layouts/base.html" %}

{% block content -%}
<div class="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Never miss an issue again.</h1>
            </div>
        </div>
    </div>
</div>
<div class="container slide1">
    <div class="row centered">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Keep track of each weeks releases. </h4>
            <p>See why LONGBOXED is the best resource to keep you up to date with your favorite comic books.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-star"></i>
            <h4>ALL YOUR FAVORITES</h4>
            <p>Use your personalized insurance data to discover the cost of common medical procedures in your area.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-list"></i>
            <h4>PULL LISTS</h4>
            <p>Compare how much you would pay out of pocket for different providers, for the procedure you need.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-undo"></i>
            <h4>UPDATED DAILY</h4>
            <p>Make the choice that fits your needs best, taking into account cost, convenience and quality.</p>
        </div>
        <br />
        <br />
    </div>

</div>
{%- endblock content %}