{% extends "layouts/base.html" %}
{% block title %}{{ issue.complete_title }} | Longboxed{% endblock title %}

{% block content %}
<div class="container">
    <div class='full-issue-content'>
        <div class="row">
            <div class="col-sm-5 cover-image">
                <img class="img-responsive" src={% if issue.cover_image %}"{{ issue.cover_image.locate() }}"{% endif %}> 
            </div>
            <div class="col-sm-7 issue-table">
                <div class="panel panel-default">
                    <div class="panel-heading centered">
                        <h3>{{ issue.complete_title }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ issue.description }}</p>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Publisher</td>
                                <td>
                                    <a href="{{ url_for('comics.publisher', pub_id=issue.publisher.id) }}">
                                        {{ issue.publisher.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td><a href="{{ url_for('comics.title', title_id=issue.title.id) }}">{{ issue.title.name }}</a></td>
                            </tr>
                            <tr>
                                <td>Release Date</td>
                                {% if issue.on_sale_date %}
                                <td>{{ issue.on_sale_date.strftime('%-m/%-d/%y') }}</td>
                                {% else %}
                                <td>Unknown</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>${{ issue.retail_price }}</td>
                            </tr>
                            <tr>
                                <td>Distributor Code</td>
                                <td>{{ issue.diamond_id }}</td>
                            </tr>
                            <tr>
                                <td>Issue Number</td>
                                <td>
                                    <p>{{ '%d' | format(issue.issue_number) }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table> <!-- table -->
                </div> <!-- panel -->
            </div>
        </div>
    </div>
</div> <!-- container -->
{% endblock %}