{% extends "layouts/base.html" %}
{% set title = issue.complete_title+' | Longboxed' %}

{% block main_content %}
    <div class="container">
        <div class="issueContainer">
            <div class="row">
                <div class="span4">
                    <div class="coverImage">
                       <img class="m_issue img-rounded" src="{{ issue.big_image }}"> 
                    </div>
                </div>
                <div class="span8">
                    <h2>{{ issue.complete_title }}</h2>
                    <h4>
                        {{ issue.publisher.name }} - 
                        <a href="#" class="add2cal" data-id="{{ issue.diamond_id }}"><i class="icon-calendar"></i></a> <a href="{{ issue.a_link }}"><i class="icon-shopping-cart"></i></a>
                    </h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Release Date</td>
                                <td>{{ issue.on_sale_date.strftime('%-m/%-d/%y') }}</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>${{ issue.retail_price }}</td>
                            </tr>
                            <tr>
                                <td>Distributor Code</td>
                                <td>{{ issue.diamond_id }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    <p>
                                        {{ issue.description }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}