{% extends "layouts/base.html" %}
{% block title  %}Privacy Policy | Longboxed{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>Privacy Policy</h2>
            <ul>
                <li>
                    I will not ask for your personal information unless it is
                    needed.
                </li>
                <li>
                    Your email address will only be used for account management
                    and password reset purposes.
                </li>
                <li>
                    I will not share your personal information with anyone
                    except to comply with the law.
                </li>
                <li>
                    If you delete your account , your personal information will
                    be permanently deleted from the Longboxed database, however
                    it may stay in backups for a brief period.
                </li>
                <li>
                    I use Google Analytics to track basic analytics. They set a
                    cookie.
                </li>
                <li>
                    I use cookies to keep you logged in.
                </li>
            </ul>
            <br>
            If you have any questions about Longboxed or its privacy policy,
            please get in <a href="mailto:contact@longboxed.com">contact</a>.
            <br>
            <br>
            -Tim
        </div>
    </div>
</div>
{% endblock content %}
