{% extends "layouts/base.html" %}
{% set active_page = 'pull_list' %}
{% set title = 'Your Pull List | Longboxed' %}


{% block main_content %}
    <div class="container">
        <h2>Your Favorite Comics</h2>
        <div class="row-fluid">
            <div class="span7">
                <div class="well favorites">
                    {% include "favorites_list.html" %}
                </div>
            </div>
            <div class="span5">
   <!--              <div class="well">
                    <h3>Add more comics...</h3>
                    <div id="form">
                        <form id="newcomics">
                            <input type="text" name="newfavorite" id="newfavorite" class="input-xlarge typeahead" data-provide="typeahead" autocomplete="off">
                            <div>
                                <button class="btn btn-primary testbutton">Update</button>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="well">
                    <form id="add_to_pull_list">
                        {{ form.hidden_tag() }}
                        {{ form.title.label }} {{ form.title(size=20, class='') }}
                        <!-- <input type="submit" value="Go"> -->
                        <button id="submit_pull" class="btn btn-primary">Update</button>
                    </form>
                </div>
            <div class="span4">
        </div>
    </div>  
{% endblock %}

{%- block bootstrap_js_bottom %}

    {{ super() }}

    <script>
        var comic_typeahead = function(titles){
            $('.typeahead').typeahead({
                    source: titles
                }
            );
        }
        $.get('/ajax/typeahead', function(data){
            comic_typeahead(data.titles);
        });
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/pull_list.js') }}"></script>
{% endblock bootstrap_js_bottom %}