{% extends "layouts/base.html" %}
{% set active_page = 'pull_list' %}
{% set title = 'Your Pull List | Longboxed' %}

{% block main_content %}
    <div class="container">
        <h2>Your Favorite Comics</h2>
        <div class="row-fluid">
            <div class="span7">
                <div class="well favorites">
                    {% include "favorites_list.html" %}
                </div>
            </div>
            <div class="span5">
                <div class="well">
                    <h3>Add more comics...</h3>
                    <div id="form">
                        <form id="newcomics">
                            <input type="text" name="newfavorite" id="newfavorite" class="input-xlarge typeahead" data-provide="typeahead" autocomplete="off">
                            <div>
                                <button class="btn btn-primary testbutton">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="span4">
        </div>
    </div>  
{% endblock %}

{%- block bootstrap_js_bottom %}

    {{ super() }}

    <script>
        var remove_favorite = function(){
            $('.testremove').each(
                function(){
                    var $pElem = $(this);
                    var $id = $pElem.attr('data-id');
                    var $name = $pElem.attr('data-name');
                    $pElem.click(
                        function(){
                            $.post(
                                '/ajax/remove_favorite',
                                {'id': $id},
                                function(data){
                                    if (data.success==true){
                                        $('div.favorites').html(data.html);
                                        remove_favorite();
                                        alertify.success('Successfully removed \''+$name+'\' from your Pull List!');
                                    }
                                    else {
                                        alertify.error('Something went wrong...');
                                    }
                                }
                            );
                        }
                    );
                }
            );
        }
        remove_favorite();
        var favorites = function(){
            $('.testbutton').click(function(){
                var new_favorite = $("input#newfavorite").val();
                $.post(
                    '/ajax/add_favorite',
                    {'new_favorite': new_favorite},
                    function(data){
                        if (data.success==true){
                            $('div.favorites').html(data.html);
                            remove_favorite();
                            alertify.success('Successfully added \''+new_favorite+'\' to your Pull List!');
                                $("input#newfavorite").val('');
                        }
                        else {
                            alertify.log('\''+new_favorite+'\' is already on your Pull List');
                            $("input#newfavorite").val('');
                        }
                    }
                );
                return false;
            });
        }
        favorites();
    </script>

    <script>
        var comic_typeahead = function(titles){
            $('.typeahead').typeahead({
                    source: titles
                }
            );
        }
        $.get('/ajax/typeahead', function(data){
            comic_typeahead(data.titles);
        });
    </script>
{% endblock bootstrap_js_bottom %}