{% extends 'layouts/longboxed_base.html' %}
{% from 'macros/comics.html' import render_comic_media_item %}
{% set active_page = 'comics' %}
{% set title = 'Comics | Longboxed' %}

{% block content -%}
<div class="slide story" id="slide-1" data-slide="1">
  <div class="container">
    <div id="home-row-1" class="row clearfix">
      <div class="col-12">
        <h1>THIS WEEK</span></h1>
        <h4>{{ date.strftime('%B %-d, %Y') }}</h4>
        <br>
        <br>
      </div><!-- /col-12 -->
    </div><!-- /row -->
    <div id="home-row-2" class="row clearfix">
      <div class="col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><h1>{{ issues|length }}</h1></div><span>RELEASES</span></div>
      <div class="col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><h1>3</h1></div><span>ON YOUR PULL LIST</span></div>
      <div class="col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><h1>{{ date|pretty_date }}</h1></div><span>LAST UPDATED</span></div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>
<div class="container pt">
  {% if True %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% for group in issues|groupby('publisher.name') %}
      <div class="row">
        <div class="col-md-12">
          <h1>{{ group.grouper }}</h1>
        </div>
      </div>
        {%- for row in group.list|sort(attribute='title.name')|batch(2) %}
          <div class="row">
          {%- for issue in row %}
            <div class="col-md-6 col-sm-6">
              <div class="issue-bounding-box">
                {{ render_comic_media_item(issue, current_user.pull_list) }}
              </div>
            </div>
          {%- endfor %}
          </div>
        {%- endfor %}
      {% endfor %}
    </div>
    <div class="col-md-2"></div>
  </div>
  {% endif %}
  {% if False %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% for group in issues|groupby('publisher.name') %}
      <h2>{{ group.grouper }}</h2>
      <ul class="media-list">
        {% for issue in group.list %}
          {% if issue.is_parent %}
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/100x100" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
                  {{ issue.title.name }}
                </a>
              </h4>
              <h4>{{ '%.4G'| format(issue.issue_number|float) }}</h4>
              {% if issue.has_alternates %}
              <i class="fa fa-picture-o"></i>
              {% endif %}
            </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div class="col-md-3"></div>
  </div>
  {% endif %}
  {% if False %}
    {% for group in issues|groupby('publisher.name') %}
    <div class="row">
      <div class="col-md-12">
        <h1>{{ group.grouper }}</h1>
      </div>
    </div>
      {% for issue in group.list %}
        {% if issue.is_parent %}
        <div class="row">
          <div class="col-md-6">
            <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
            {{ issue.title.name }}
           </a>
          </div>
          <div class="col-md-6">
            {{ '%.4G'| format(issue.issue_number|float) }}
            {% if issue.has_alternates %}
              <i class="fa fa-picture-o fa-fw"></i>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{%- endblock content %}