{% extends 'layouts/base.html' %}
{% from 'macros/comics.html' import issue_card %}
{% block title %}Releases for {{ date.strftime('%Y-%m-%d') }} | Longboxed{% endblock title %}

{% block content -%}
<div class="header releases-header">
  <div class="container">
    <div class="row centered">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ date.strftime('%B %-d, %Y') }}</h1>
        <h1>RELEASES</h1>
      </div>
    </div>
  </div>
</div>
{% if True %}
  {% for publisher in issues|groupby('publisher.name') %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h2>{{ publisher.grouper }}</h2>
        <hr>
        {% for row in publisher.list|sort(attribute='title.name')|batch(2) %}
          <div class="row">
          {% for issue in row %}
            <div class="col-sm-6">
              {{ issue_card(issue, g.user) }}
            </div>
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
  </div>
  {% endfor %}
{% endif %}
{%- endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/issue_actions.js') }}"></script>
{% endblock scripts %}