{% extends 'layouts/base.html' %}
{% from 'macros/comics.html' import render_block %}
{% block title %}Releases for {{ date }} | Longboxed{% endblock title %}

{% block content -%}
<div class="header releases-header">
  <div class="container">
    <div class="row centered">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ date.strftime('%B %-d, %Y') }}</h1>
        <h1>RELEASES</h1>
      </div>
    </div>
  </div>
</div>
<div class="subheader">
  <div class="container">
    <div class="row centered">
      <div class="col-xs-4">
        <h1>{{ issues|length }}</h1>
        <span>RELEASES</span>
      </div>
      <div class="col-xs-4">
        <h1>0</h1>
        <span>ON YOUR PULL LIST</span>
      </div>
      <div class="col-xs-4">
        <h1>{{ date|pretty_date }}</h1>
        <span>LAST UPDATED</span>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /subheader -->
{% if True %}
  {% for publisher in issues|groupby('publisher.name') %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h2>{{ publisher.grouper }}</h2>
        {% for row in publisher.list|sort(attribute='title.name')|batch(2) %}
          <div class="row">
          {% for issue in row %}
            <div class="col-sm-6">
              <div class="media issue-card">
                <a class="pull-left" href="#">
                  <img src="{{ issue.cover_image.find_thumbnail(width=100).locate() }}">
                </a>
                <div class="media-body">
                  <div>
                    <p class="media-heading text-fill">
                      <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">{{ issue.title.name|upper }}</a>
                    </p>
                  </div>
<!--                   <p class="action-buttons">
                    <span>{{ issue.issue_number|int }}</span>
                    <span class="fa fa-star {%if issue.title in g.user.pull_list %}on-pull-list{% endif %}"></span>
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-facebook"></span>
                  </p> -->
                  <div class="row action-buttons">
                    <div class="col-xs-4">
                      <span>{{ issue.issue_number|int }}</span>
                    </div>
                    <div class="col-xs-2 centered">
                      <!-- <span class="fa fa-star {%if issue.title in g.user.pull_list %}on-pull-list{% endif %}"></span> -->
                    </div>
                    <div class="col-xs-6 card-buttons">
                      <span class="fa fa-star {%if issue.title in g.user.pull_list %}on-pull-list{% endif %}"></span>
                      <span class="fa fa-twitter"></span>
                      <span class="fa fa-facebook"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
  </div>
  {% endfor %}
{% endif %}
{%- endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}