{% extends "layouts/base.html" %}
{% block title %}Longboxed | Never miss an issue again{% endblock title %}


{% block content -%}
<div class="headerwrap">
    <div class="container">
        <div class="row">
            <div class="centered col-sm-6 col-xs-12">
                <div class="copy-block">
                    <h1>Never miss an issue again.</h1>
                    {% if not g.user %}
                    <a href="{{ url_for('security.register') }}" role="button" class="signup-button">
                       Sign Up 
                    </a>
                    <!--<a href="#" role="button" class="app-button">-->
                        <!--Get the App-->
                    <!--</a>-->
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 hidden-xs">
                {% if featured %}
                <a class="featured-link" href="{{ url_for('comics.issue', diamond_id=featured.diamond_id) }}">
                <div class="featured-comic">
                    <div class="featured-cover">
                            {% if featured.cover_image %}
                            <img src="{{ featured.cover_image.find_thumbnail(width=250).locate() }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/lb_nocover_small.png') }}">
                            {% endif %}
                    </div>
                    <div class="featured-info">
                        <h3>Featured Comic</h3>
                        <span>Feb 11, 2015</span>
                        <ul>
                            <li>{{ featured.title.name }}</li>
                            {% if featured.issue_number %}
                            <li>#{{ '%g' % featured.issue_number }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="slide1">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Keep track of each week's releases</h2>
                <p class="copy">See why LONGBOXED is the best resource to keep you up to date with your favorite comic books.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-star"></i>
                <h4>ALL YOUR FAVORITES</h4>
                <p>Every popular title from all major publishers is cataloged and tracked.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-list"></i>
                <h4>PULL LISTS</h4>
                <p>Create a Pull List and be notified when issues are released!</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-undo"></i>
                <h4>UPDATED DAILY</h4>
                <p>Our catalog is constantly being updated to provide you with the most accurate information.</p>
            </div>
        </div>
    </div>
</div>
<div class="slide2">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="hidden-xs">POPULAR THIS WEEK</h2>
                <h1 class="visible-xs">POPULAR THIS WEEK</h1>
                <!-- <h2 class="visible-xs">THIS WEEK</h2> -->
            </div>
            {% if issues %}
                {% for issue in issues %}
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
                        {% if issue.cover_image %}
                        <img src="{{ issue.cover_image.find_thumbnail(width=250).locate() }}" title="{{ issue.complete_title }}" alt="{{ issue.complete_title }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/lb_nocover_medium.png') }}" title="{{ issue.complete_title }}" alt="{{ issue.complete_title }}">
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <h1>NOTHING IS POPULAR THIS WEEK</h1>
            {% endif %}
        </div>
    </div>
</div>
{%- endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/randomSplash.js') }}"></script>
{% endblock scripts %}
