#!/bin/bash
export AFFILIATE_ID=12345ID
export APP_ENV=dev
export AWS_ACCESS_KEY_ID=ABCDEFGHIJK
export S3_BUCKET_NAME=yourbucket
export AWS_SECRET_ACCESS_KEY=ABCDEFGHIJK123456
export BOOTSTRAP_GOOGLE_ANALYTICS_ACCOUNT=UA-YOUR-GOOGLE-ANALYTICS
export DATABASE_URL=postgres://localhost:5432/longboxed
export MEMCACHE_SCHEME=localhost:11211
export MEMCACHE_DEFAULT_TIMEOUT=300
export FACEBOOK_CONSUMER_KEY=YOUR-FACEBOOK-CONSUMER-KEY
export FACEBOOK_CONSUMER_SECRET=YOUR-FACEBOOK-CONSUMER-SECRET
export GOOGLE_CONSUMER_KEY=YOUR-GOOGLE-CONSUMER-KEY
export GOOGLE_CONSUMER_SECRET=YOUR-GOOGLE-CONSUMER-SECRET
export TWITTER_CONSUMER_KEY=YOUR-TWITTER-CONSUMER-KEY
export TWITTER_CONSUMER_SECRET=YOUR-TWITTER-CONSUMER-SECRET
export MAIL_PASSWORD=12345678
export MAIL_USERNAME=mail@yourdomain.com
export SECRET_KEY=123456789abcdefghijk
export SECURITY_PASSWORD_SALT=123456789abcdefghijkl
export SECURITY_REMEMBER_SALT=123456789abcdefghijklm
export SECURITY_RESET_SALT=123456789abcdefghijklmn

