---

- hosts: webservers
  user: tim
  sudo: yes
  sudo_user: postgres
  gather_facts: no

  vars:
      dbname: longboxed
      dbuser: app_user
      dbpassword: password

  tasks:
    - name: ensure database is created
      action: postgresql_db db={{dbname}}

    - name: ensure user has access to database
      action: postgresql_user db={{dbname}} user={{dbuser}} password={{dbpassword}} priv=ALL

    - name: ensure user does not have unnecessary privilege
      action: postgresql_user user={{dbuser}} role_attr_flags=NOSUPERUSER,NOCREATEDB