html {
  /* Necessary for sticky footer */
  height: 100%;
}

body {
  /* Necessary for sticky footer */
  height: 100%;
  /* Push down body to clear sticky navbar */
  // padding-top: 50px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -70px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;

  @media (max-width: @screen-xs-min) {
    /* Negative indent footer by its height */
    margin: 0 auto -70px;
    /* Pad bottom by footer height */
    padding: 0 0 70px;

  }
}

#footer {

  border-top: 1px solid lighten(#000, 88%);
  position: relative;
  height: 70px;
  line-height: 70px;

  ul {
      display: inline-block;
      .nav;
      .nav-pills;
      > li {
          > a {
              &:hover,
              &:focus {
                text-decoration: none;
                background-color: transparent;
              }
          }
      }
  }

  a {
      color: @gray-dark;
      &:link {
          color: @gray-dark;
      }
      &:hover {
        color: #ccc;
      }
  }

  .left-links {
    float: left;
  }

  .right-links {
    float: right;
  }

  .footer-logo {
    position: absolute;
    // top: 38px;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    padding-top: 33px;
    font-size: 24px;
    color: #ccc;

    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
}


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  letter-spacing: @headings-letter-spacing;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

hr {
  margin-top: 11px;
}


.centered {
    text-align: center;
}

.right {
  text-alight: right;
}

.section (@padding-scale: 1) {
    padding-top: @padding-scale*1em;
    padding-bottom: @padding-scale*1em;
}

.ios-alert {
    .callout {
        margin-right: 50px;
    }
    /*.store-icon {*/
        /*padding-left: 25px;*/
    /*}*/
} 

.background-mixin (@image-path: "../img/backgrounds/thor-hulk.jpg", @alpha: 0.45) {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url(@image-path);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -10;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,@alpha);
  }
}

.batman-exclamation-bg {
  .background-mixin("../img/backgrounds/batman-exclamation.jpg");
}

.daredevil-bg {
  .background-mixin("../img/backgrounds/daredevil.jpg", 0);
}

.thorhulk-bg {
  .background-mixin();
}

.batman-superman-bg {
  .background-mixin("../img/backgrounds/batman-superman.jpg");
}

.flash-bg {
  .background-mixin("../img/backgrounds/flash.jpg", 0.25);
}

.black-spiderman-bg {
  .background-mixin("../img/backgrounds/black-spiderman.jpg", 0.25);
}

.wolverine-bg {
  .background-mixin("../img/backgrounds/wolverine.jpg")
}



// Positions the brand in the center of the nav
// when nav is collapsed
.navbar-default {
  // places content immediately below non-fixed navbar
  margin-bottom: 0px;
  // background:transparent;

  // Wraps brand and centers it when collapsed
  .navbar-brand-center {
    @media (max-width: @screen-xs-min) {
      text-align: center;
      width: 100%;
      position: absolute;
    }
  }
  .navbar-brand {
    // Position the logo in the center of the view if collapsed
    @media (max-width: @screen-xs-min) {
      float: none;
      display: inline-block;
    }
  }

}

.navbar-toggle {
  // Place button above other elements
  // Fix for centering the logo in collapsed mode
  z-index: 1;
}
