.form--signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .title {
    color: #fff;
    text-align: center;
  }

  .text-box {
    height: auto;
    .body-copy;
    line-height: 2.25em;
  }

  label{
    color: #fff
  }
}

