.on-pull-list {
    &:extend(.fa, .fa-check all);
    color: @brand-success;
    &:hover{
        &:extend(.fa, .fa-times all);
        color: @brand-danger;
    }

}

.not-on-pull-list {
    &:extend(.fa, .fa-plus all);
    &:hover{
        color: @brand-success;
    }
}

.full-issue-content {
    .section(1);

    .fa {
        color: @gray-dark;
    }

    p {
        margin-top: 11px;
    }
    .tweet {
        padding-right: 10px;
    }

    @media (max-width: @screen-xs-min) {
        .section(0);
    }

    .cover-image {
        @media (max-width: @screen-xs-min) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .issue-table {
        @media (max-width: @screen-xs-min) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    img {
        display: block;
        margin: auto;
    }
}

.issue-card {
    img {
        width: 50px;
    }
    .media-heading {
        font-size: 16px;
        color: white;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .action-buttons {
        color: #ccc;
        font-size: 20px;
        padding-bottom: 7px;

        span {
            padding-right: 10px;
        }
        .card-buttons{
            text-align: right;

            .tweet {
                &:hover {
                  color: #4099ff;
                }
            }
            .facebook {
                padding-right: 0px;
                &:hover {
                  color: #3b5999;
                }
            }
        }
    }
    a {
        color: @gray-dark;
        &:link {
            color: @gray-dark;
        }
    }
    background-color: #EEEEEE;
    // background-color: #ccc;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 75px;

    @media (max-width: @screen-xs-min) {
        margin-bottom: 15px;
    }
}

.add-title-section {
    .section(2);
}

.pull-list-with-bundles {
    .bundles {
        a {
            &:link{
                color: @gray-dark;
                text-decoration: none;
            }
            &:visited{
                color: @gray-dark;
                text-decoration: none;
            }
            &:hover{
                color: @gray-dark;
                text-decoration: none;
            }
            &:active{
                color: @gray-dark;
                text-decoration: none;
            }
        }

        .hover-change {
            background-color: @gray-lighter;

            &:hover {
                background-color: @gray-light;
                color: white;
            }
        }

        .pull-list-thumbnail {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}