.headerwrap {

    background: url(../img/header-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    h1 {
        font-size: 70px;
        z-index: 10000;
        color: white;
    }
}

.slide1 {
    
    padding-top: 2em;
    padding-bottom: 1em;

    // icons
    i {
        color: #FF851B;
        font-size: 30px;
    }

    p {
        margin-bottom: 2em;
    }
}

.slide2{
    background-color: #aaaaaa;
    padding-top: 1em;
    padding-bottom: 2em;

    h1 {
        color: white;
        padding-bottom: 1em
    }
}

.footer {
    background-color: #2f2f2f;
    padding-top: 3em;
    padding-bottom:3em;

    h4 {
        color: white;
        text-transform: uppercase;
        // padding-bottom: 20px;
    };

    i {
        color: #FF851B;
        font-size: 30px;
    }

    p {
        color: white;
    };
}