.headerwrap {
    .section(2);

    background-color: black;
    /*background-image: url(../img/ultron-bw.jpg);*/
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    @media (max-width: @screen-xs-min) {
        min-height: 250px;
    }

    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    .logo {
        color: white;
        font-size: 8em;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }

    h1 {
        font-size: 3em;
        z-index: 10000;
        color: white;

        @media (max-width: @screen-sm-min) {
            font-size: 2.5em;
        }
        @media (max-width: @screen-xs-min) {
            font-size: 2em;
            // line-height: 60px;
        }
    }
}

.copy-block {
    /*margin-top: 45px;*/
    /*@media (max-width: @screen-xs-min) {*/
        /*margin-top: 45px;*/
    /*}*/

    .signup-button {
            .btn;
        .btn-outline-inverse;
        margin: 10px;
        @media (min-width: @screen-md-min) {
            .btn-lg;
        }
    }

    .app-button {
        .btn;
        .btn-outline-inverse;
        margin: 10px;

        @media (min-width: @screen-md-min) {
            .btn-lg;
        }

        @media (max-width: @screen-xs-min) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}



.featured-comic {
    .media;
    margin-left: 30px;

    @media (max-width: @screen-xs-min) {
        width: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-cover {
        .pull-left;
        float: left;
        img {
            .media-object;
            width: 150px;
            @media (max-width: @screen-xs-min) {
                width:100px;
            }
        }
    }
    .featured-info {
        .media-body;
        color: white;
        /*display: inline-block;*/
        h3 {
            .media-heading;
            font-weight: normal;
            margin-top: 10px;
            @media (max-width: @screen-xs-min) {
                font-size: 1em;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            padding-top: 5px;
        }
    }
}

.week-links {
    .section(2);
    background-color: @gray-lighter
}

.header {
    .section(2);

    background-color: #2f2f2f;
    margin-bottom: 30px;

    h1 {
        color: white;
        font-size: 6em;

        @media (max-width: @screen-xs-min) {
            font-size: 4em;
        }
    }
}

.subheader {
    .section(2);

    background-color: #aaaaaa;

    h2 {
        color: white;
    }

}

.slide1 {
    .section(2);

    // icons
    i {
        color: #aaaaaa;
        font-size: 30px;
    }

    p {
        margin-bottom: 2em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .copy {
        margin-bottom: 5em;
    }
}

.slide2{
    .section(2);

    border-top: 1px solid lighten(#000, 88%);

    // background-color: #2f2f2f;
    background-color: @gray-lighter;

    h2 {
        color: #2f2f2f;
        padding-bottom: 1em
    }

    img {
        .img-responsive;
        padding-bottom: 15px;
        display: block; // Centers image
        margin: auto; // Centers image

        @media (max-width: 600px) {
            max-height:336px;
        }

        @media (max-width: @screen-xs-min) {
            max-width:133px;
            max-height:200px;
        }
    }
}
