//
// TYPE STYLES
// --------------------------------------------------


// TYPE MIXINS
// --------------------------------------------------


.title{
  font-size: 3.5rem;
  line-height: 6rem;
  font-weight: 600;
}

.header{
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: normal;
}

.body-copy{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
}