{% extends 'mail/base_email.html' %}

{% block content %}
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h1>Welcome!</h1>
            <p class="lead"></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <p>We are excited that you have decided to join Longboxed. Each week, Longboxed is updated with the latest releases to keep you informed about your favorite comic books! What are you waiting for? Confirm your account and <a href="http://www.longboxed.com/pull_list">create</a> a Pull List now!</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
{% endblock content %}
