// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Longboxed Overrides
//
@import "longboxed/core.less";
@import "longboxed/type.less";
@import "longboxed/icons.less";
@import "longboxed/forms.less";
@import "longboxed/buttons.less";

#footer {
    background-color: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
    p {
        color: white;
    };
    h4 {
        color: white;
        text-transform: uppercase;
        padding-bottom: 20px;
    };
}

.pt {
    padding-bottom: 50px;
}

.slide {
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 65px;
    padding-top: 50px;
    text-align: center;
}

#slide-1 {
    // background-image: url('/static/img/slide-02.jpg');
    background-color: #2f2f2f;
    color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    background-attachment: relative;
    background-position: center center;
}

.light {
    background-color: #ffffff;
    .cover-square {
        background-color: #ffffff;
    }
}

.dark {
    background-color: #2f2f2f;
    color: #ffffff;
    .cover-square {
        background-color: #2f2f2f;
    }
}

@media (max-width: 767px) {
    #slide-1 {
        background-image: none;
        background-color: #2f2f2f;
    }
}

    #home-row-1,
    #home-row-2 {
        padding-top: 25px;
    }
    
    #home-row-1 h1 {
        font-size: 54px;
    }
    
    #home-row-1 h4 {
        font-size: 32px;
    }
    
    #home-row-2 {
        font-size: 25px;
    }
    
    #home-row-2 .col-12 {
        height: 232px;
        padding-top: 30px;
    }
    
    #home-row-2 .col-12 .home-hover {
        height: 166px;
        overflow: hidden;
        padding-top: 26px;
        transition: all ease-in .5s;
    }
    
    #home-row-2 .col-12 .home-hover:hover {
        height: 166px;
        padding-top: 0;
    }

@media (max-width: 767px) {
    #home-row-1,
    #home-row-2 {
        padding-top: 16px;
    }
    
    #home-row-1 h1 {
        font-size: 35px;
    }
    
    #home-row-1 h4 {
        font-size: 21px;
    }
    
    #home-row-2 {
        font-size: 16px;
    }
}

.cover-square {
    background-color: #cccccc;
    height:150px;
    width:150px;
    padding-top:25px;
}
.on-pull-list {
    background-color: #d8ce8d;
}

.cover-in-square {
    // background-color: #ffffff;
    width: 100px;
    margin: 0 auto;
}

.issue-media {
    text-align: center;
    // box-shadow: inset 0 30px 0 rgba(255,255,255,.1);
    box-shadow: 0 0 2px black;
}