<div class="footer">
    <div class="container">

        <div class="row centered">
            <div class="col-sm-4">
                <h4>LONGBOXED</h4>
                <p>
                    Proudly made in:
                    <br>
                    New York City, New York
                </p>
            </div><!-- /col-lg-4 -->
            
            <div class="col-sm-4">
                <h4>Contact Us</h4>
                <p>
                    <a href="https://twitter.com/longboxed"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/longboxed"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                </p>
            </div><!-- /col-lg-4 -->
            
            <div class="col-sm-4">
                <h4>About LONGBOXED</h4>
                <p>Never miss an issue again.</p>
            </div><!-- /col-lg-4 -->
        
        </div>
    
    </div>
</div>