<div id="footer">
    <div class="container">
        <ul class="left-links">
<!--             <li>
                <a href="#" class="hidden-xs">About</a>
            </li> -->
            <li>
                <a href="mailto:contact@longboxed.com" class="hidden-xs">Contact</a>
                <a href="mailto:contact@longboxed.com" class="visible-xs"><i class="fa fa-envelope-o"></i></a>
            </li>
            <li>
                <a href="http://blog.longboxed.com/" class="hidden-xs">Blog</a>
                <a href="http://blog.longboxed.com/" class="visible-xs"><i class="fa fa-tumblr"></i></a>
            </li>
        </ul>
        <a href="{{ url_for('dashboard.index') }}">
            <span class="icon-longboxed-logo footer-logo"></span>
        </a>
        <ul class="right-links">
            <li>
                <a href="https://twitter.com/longboxed" class="hidden-xs">Twitter</a>
                <a href="https://twitter.com/longboxed" class="visible-xs"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/longboxed" class="hidden-xs">Facebook</a>
                <a href="https://www.facebook.com/longboxed" class="visible-xs"><i class="fa fa-facebook"></i></a>
            </li>
        </ul>
    </div>
</div>