/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      /*margin-top: 60px;*/
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

/*    .carousel .item {
      height: 500px;
    }*/
/*    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }*/

    .carousel-caption {
      /*background-color: transparent;*/
      background-color: rgb(87, 87, 87); /* Fall-back for browsers that don't
                                          support rgba */
      background-color: rgba(87, 87, 87, .5);
/*      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;*/
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }