body {
  padding-top: 40px;
}

div.issueContainer {
  padding-top: 20px;
}

.subhead {
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    color: #fff;
    padding: 40px 0px;
    margin-bottom: 20px;
  }

/*
fixes for the sidebar
*/
.affix-bottom {
    /*position: absolute;
    top: auto;
    bottom: 400px;*/
    top: 50px;
}

#reportrange{
  margin: 15px 0 0; /*Linup sidebar with comic list */
}

#comicsidebar{
    width: 235px;
    /*margin: 15px 0 0;  Linup sidebar with comic list */
    /*padding-top: 0px;*/
    background-color: #fff;
    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#comicsidebar > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

#comicsidebar > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

#comicsidebar > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

#comicsidebar.affix {
    top: 60px;
}

footer {
  margin-top: 50px;
}

img.m_issue {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.coverImage {
  margin-left: auto;
  margin-right: auto;
}*/

/*.belownavbar {
  margin-top: 60px;
}
*/
@media (max-width: 979px){
  
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
  margin-bottom: 0px;
  }

}

@media(max-width:767px){
  #comicsidebar.affix {
     position: static;
     width: auto;
     top: 0;
    }

  td.cdate {
    display: none;
  }

  .cpImage {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    /*max-width: 500px;*/
    width: auto;
  }
  .cpInfo {
    /*float: right;*/
    width: 200px;
  }
  .comicpopover {
    /*width: 2000px;*/
    max-width: 200px;
  }
  img.popImage{
    height: 150px;
  }
}

/*
table modifications
*/
.table td {
  vertical-align: middle;
}

td.ctitle {
    width: 500px;
}
/*td.cprice {
    width: 50px;
}*/
td.copt {
    text-align: center;
}

/*Popover stuff*/
/*
Hide the blocks that contain popover content
*/
.popSourceBlock {
        display:none;
}

.comicpopover {
  /*width: 2000px;*/
  max-width: 600px;
}

img.popImage{
  height: 150px;
}
.cpImage {
  float: left;
  margin-left:auto;
  margin-right:auto;
  padding-right:10px;
  padding-bottom:10px;
  /*max-width: 500px;*/
  width: auto;
}

.cpInfo {
  float: right;
  width: 200px;
}
