{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% macro render_sitenav(endpoint, display, active='') %}
<li {% if request.endpoint == endpoint or active == endpoint %} class='active' {% endif %}>
    <a href="{{url_for(endpoint)}}">{{display}}</a>
</li>
{% endmacro %}

<!-- CSS Styles to be included on all pages -->
{% block style -%}
{{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daterangepicker.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='zocial.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertify.core.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertify.default.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shame.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='holder.js') }}"></script>
{%- endblock style %}


{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Longboxed</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{ render_sitenav('index', 'Home', active=active_page) }}
              {{ render_sitenav('comics', 'Comics', active=active_page) }}
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                {% block dropdown_content %}
                  {% if g.user %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ g.user.info.full_name }} <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('favorites')}}"><i class="icon-heart"></i> Favorites</a></li>
                    <li><a href="/edit_profile"><i class="icon-user"></i> Edit Profile</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Preferences</li>
                    <li><a href="{{ url_for('settings') }}"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="/logout"><i class="icon-off"></i> Sign Out</a></li>
                  </ul>
                  {% else %}
<!--                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                    <form action="/login" method="post">
                    <div><button class='zocial google' style="font-size: 12px">Sign In With Google</button></div>
                    </form>
                    <div><button class='zocial facebook' style="font-size: 12px">Sign In With Facebook</button></div>
                  </div> -->
                    <ul class="nav">
                        <li>
                            <a href="{{ url_for('login') }}">Sign in with Google</a>
                        </li>
                    </ul>
                  {% endif %}
                {% endblock dropdown_content %}
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% block main_content %}
    <!-- Main content of webpage expands in this block -->
    {% endblock %}

    {% block footer %}
        <footer>
        {% block footer_content %}
            <div class="container"> 
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span7">
                            <!-- Something here -->
                        </div>
                        <div class="span5">
                            <p class="muted pull-right">© 2013 BuenoSoft. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock footer_content %}
        </footer>
    {% endblock footer %}

{% endblock body_content %}

<!-- Javascript to be included on all pages -->
{%- block bootstrap_js_bottom %}
    
    <!-- Load bootstrap.js and jquery -->
    {{ super () }}

    <script type="text/javascript" src="{{ url_for('static', filename='date.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='comic_popovers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='alertify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='addtocalendar.js') }}"></script>
    <!-- jquery mobile for tap events -->
    <!-- // <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script> -->

    <!-- Navigation Links -->
    <script type="text/javascript">
        $(document).ready(function() {
             $('#thisweek').click(function() {
                  $.post("/", { n: "this"} );
             });
        });
    </script>

    <script type="text/javascript">
        // Disable the loading message for jquery mobile
        // $.mobile.ajaxEnabled=false;
        // $.mobile.loadingMessage = false;
        // $.mobile.loading('hide');
        // Attach popovers with comic links
        add2cal();
        attachpopover();
        // var attachpopover = $(".pop").each(function() {
        //     var $pElem= $(this);
        //     $pElem.popover(
        //         { 
        //           placement: 'right',
        //           trigger: 'manual',  
        //           html: true, 
        //           delay: { show: 350, hide: 100 },
        //           template: '<div class="popover comicpopover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>', 
        //           title: getPopTitle($pElem.attr("id")),
        //           content: getPopContent($pElem.attr("id"))
        //         }
        //     );
        //     var timer,
        //         popover_parent;
        //     function hidePopover(elem) {
        //         $(elem).popover('hide');
        //     }
        //     $pElem.hover(
        //         function() {
        //           var self = this;
        //           clearTimeout(timer);
        //           $('.popover').hide(); //Hide any open popovers on other elements.
        //           popover_parent = self
        //           $(self).popover('show');            
        //         }, 
        //         function() {
        //           var self = this;
        //           timer = setTimeout(function(){hidePopover(self)},300);                 
        //     });
        //     $(document).on({
        //       mouseenter: function() {
        //         clearTimeout(timer);
        //       },
        //       mouseleave: function() {
        //         var self = this;
        //         timer = setTimeout(function(){hidePopover(popover_parent)},300); 
        //       }
        //     }, '.popover');
        // });

        // attachpopover();

        // function getPopTitle(target) {
        //     return $("#" + target + "_content > div.popTitle").html();
        // };
                
        // function getPopContent(target) {
        //     return $("#" + target + "_content > div.popContent").html();
        // };
    </script>

{%- endblock bootstrap_js_bottom %}