{% extends "base.html" %}

{% block main_content %}
    <div class="container">
        <div class="issueContainer">
            <div class="row">
                <div class="span4">
                    <div class="coverImage">
                       <img class="m_issue img-rounded" src="{{ issue.image_url }}"> 
                    </div>
                </div>
                <div class="span8">
                    <h2>{{ issue.title }}</h2>
                    <h4>
                        {{ issue.publisher }} - 
                        <a href="{{ url_for('add_comic_to_calendar', diamondid=issue.id) }}">
                            <i class="icon-calendar"></i>
                        </a>
                    </h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Release Date</td>
                                <td>{{ issue.date.strftime('%-m/%-d/%y') }}</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>${{ issue.price }}</td>
                            </tr>
                            <tr>
                                <td>Distributor Code</td>
                                <td><a href="{{ issue.link }}">{{ issue.id }}</a></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    <p>
                                        Shiznit ipsizzle dolizzle pimpin' amizzle, consectetuer adipiscing fizzle. Nullizzle uhuh ... yih! phat, black daahng dawg, mammasay mammasa mamma oo sa doggy, gravida vel, break it down. Pellentesque eget tortizzle. The bizzle erizzle. Funky fresh fo we gonna chung dapibus turpis we gonna chung gangster. Mauris pellentesque my shizz brizzle turpizzle. Fo shizzle in sure. Pellentesque dope rhoncus shiznit. Dang ma nizzle habitasse platea dictumst. Brizzle dapibizzle. Sizzle tellus urna, fizzle eu, mattizzle ac, rizzle vitae, nunc. Fizzle suscipizzle. Integer sempizzle velit sizzle purus.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}