{% macro render_cover_row(issues, height=600) %}
<div class="row">
    {% for issue in issues %}
    <div class="col-xs-3">
        <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
            <img src="{{ issue.cover_image.find_thumbnail(height=height).locate() }}" class="img-rounded img-responsive">
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_comic_media_item(issue, identifier=0, pull_list=[]) %}
<div class="media issue-media">
  <a class="{% if identifier % 2 == 1 %} pull-right{% else %} pull-left{% endif %}" href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
    <div class="media-object cover-square{% if issue.title in pull_list %} on-pull-list{% endif %}">
      <div class="cover-in-square">
        <!-- <img src="http://placehold.it/100x150" alt="..."> -->
        <img class="m_issue img-rounded" src={% if issue.cover_image %}"{{ issue.cover_image.find_thumbnail(width=100).locate() }}"{% else %}<img src="http://placehold.it/100x150" alt="...">{% endif %}> 
      </div>
    </div>
  </a>
  <div class="media-body">
    <a href="{{ url_for('comics.issue', diamond_id=issue.diamond_id) }}">
      <h4 class="media-heading">{{ issue.title.name }}</h4>
    </a>
    <h4>{{ '%.4G'| format(issue.issue_number|float) }}</h4>
    {% if issue.has_alternates %}
    <i class="fa fa-picture-o"></i>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_publisher_block(publisher_group, slide_id, pull_list=[]) %}
<div class="slide story{% if slide_id % 2 == 1 %} light{% else %} dark{% endif %}">
  <div class="container">
    <div class="row clearfix">
      <div class="col-12">
        <h1>{{ publisher_group.grouper }}</h1>
        <!-- <h4>thingmabob</h4> -->
        <br>
        <br>
      </div><!-- /col-12 -->
    </div><!-- /row -->
    <div class="row clearfix">
      {%- for row in publisher_group.list|sort(attribute='title.name')|batch(2) %}
        <div class="row">
        {%- for issue in row %}
          <div class="col-md-6 col-sm-6">
            <div class="issue-bounding-box">
              {{ render_comic_media_item(issue, loop.index, pull_list) }}
            </div>
          </div>
        {%- endfor %}
        </div>
      {%- endfor %}
    </div><!-- /row -->
  </div><!-- /container -->
</div>
{% endmacro %}