{% extends 'mail/base_email.html' %}

{% block content %}
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h1>Reset Your Password</h1>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row callout">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td class="panel">
            <p>You can reset your password through the link below:</p>
            <p><a href="{{ reset_link }}">Click here to reset your password</a></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
{% endblock content %}